.header {
    border-bottom: 1px solid #ECECEC;
    position: relative;
}

.header__container {

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
    }

    .header__nav {
        display: flex;
        align-items: center;
    
        font-weight: 500;
        font-size: 40px;
        line-height: 1.175;
        line-height: 100%;
        letter-spacing: 0.02em;
    
        color: var(--main-color);

        @media screen and (max-width: 767.5px) {
            justify-content: flex-end;
        }

        @media screen and (min-width: 768px) {
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
        }
    }
}

.menu-mobile-button
{
    display: inline-flex;
    margin: 0;
    padding: 0;
    padding-top: 21px;
    border: none;
    background-color: transparent;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.icon-menu-close
{
    display: none;
}

.menu-mobile-button.js-open-menu .icon-menu-close
{
    display: block;
}

.menu-mobile-button.js-open-menu .icon-menu
{
    display: none;
}

.menu-container

{

    display: none;

    @media screen and (max-width: 767.5px) {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--white);

        &.is-open
        {
            display: block;
        }
    }

    @media screen and (min-width: 768px){
        display: block;
    }
}


.menu {
    display: flex;

    cursor: pointer;
    @extend %list;

    @media screen and (max-width: 767.5px) {
        flex-direction: column;
        
        margin: 0;
        padding: 0 40px;
        margin-bottom: 302px;
    }

    @media screen and (min-width: 768px) {
        margin-left: 93px;
    }
}

.menu__item{

    &:not(:last-child)
    {
        padding-bottom: 32px;
    }

    &:not(:last-child) {
        @media screen and (min-width: 768px) {
            margin-right: 50px;
            padding-bottom: 0;
        }

    }
}

.menu__link {
    display: block;
    color: var(--main-color);

    @include transitions(color);
    @extend %link;

    &:hover,
    &:focus {
        color: var(--second-color);
    }

    @media screen and (min-width: 768px) {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.menu__link--active {
    color: var(--second-color);

    @media screen and (min-width: 768px) {
        position: relative;

        &::after {
            display: block;
            content: "";
            position: absolute;
            bottom: -1px;
            left: 0;
            height: 4px;
            width: 100%;
            background-color: var(--second-color);
            border-radius: 4px;
        }
    }

}

// .menu-contacts
// {
//     display: flex;
//     padding: 0 40px;

//     @media screen and (max-width: 767.5px) {
//         position: absolute;
//         top: 100px;
//         left: 0;
//         width: 100%;

//         &.is-open
//         {
//             display: block;
//         }

//     }
// }

.contacts {
    margin-left: auto;

    cursor: pointer;
    @extend %list;


    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;

        margin-left: 96px;
    }

    @media screen and (min-width: 1200px) {
        margin-left: auto;
        display: flex;
        align-items: center;
    }

    @media screen and (max-width: 767.5px) {
        display: none;
    }
}

.contacts__item
{
    &:not(:last-child){
        @media screen and (min-width: 768px) {
            margin-bottom: 10px;
        }
    }

    &:not(:last-child)
    {
        @media screen and (min-width: 1200px) {
            margin-right: 50px;
            margin-bottom: 0;
        }
    }
}

.contacts__item:not(:last-child) {
    margin-right: 50px;
}

.contacts__link {
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--main-text-color);

    @include transitions(color);
    @extend %link;

    &:hover,
    &:focus {
        color: var(--second-color);
    }

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.14;
    }
}

.contacts__icon{
    display: none;
    @media screen and (min-width:768px){
        display: block;
        margin-right: 8px;
        width: 14px;
        height: 10px;
        fill: var(--header-icon-color);

        @include transitions(fill);
    }

    @media screen and (min-width: 1200px) {
        width: 16px;
        height: 12px;

        margin-right: 10px;
    }

    .contacts__item:hover &,
    .contacts__item:focus &{
        fill: var(--second-color);
    }
}

.contacts__icon--tel {
    display: none;
    @media screen and (min-width: 768px) {
        display: block;
        width: 10px;
        height: 14px;
    }

    @media screen and (min-width: 1200px) {
        height: 16px;
    }
}

