.section {
    padding: 94px 0;
}

.section__title {
    margin: 0;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--main-color);

    text-align: center;
}

.section__visibility-hidden {
    display: none;
}

.section--no-padding-top {
    padding-top: 0;
}

.section--other-bg {
    background-color: var(--background-team);
}